<div class="col-xs-12 col-sm-12 col-md-4">
		<div class="box-7">
			<h5>How to Buy</h5>
			<div class="video-block">
			   <div class="videoContainer">
				<video id="myVideo" controls preload="auto" poster="assets/images/logo/logo.png" width="450" >
				  <source src="/video/default.mp4" type="video/mp4" />
					  <p>Your browser does not support the video tag.</p>
					</video>
				</div>
			</div>
		</div>
</div>